table,
tr,
td,
th{
    border: 1px, solid, black;
    /* border-radius: 12px; */
}

table{
    /* alapértelmezett beallítása: seperate */
    border-collapse: collapse;
    /* border-radius: 12px; */
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 64px;
    
}

td, th{
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr{
    background-color: gainsboro;
}
tr:nth-child(even){
    background-color: brown;
}
tr:nth-child(odd){
    background-color: aquamarine;
}
th{
    background-color: cadetblue;
}
caption{
    padding-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}